<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>GSB - Home</title>

    <link href="file:///C:/wamp64/www/Page GSB/css/bootstrap.css" rel="stylesheet">
    <link href="file:///C:/wamp64/www/Page GSB/css/homepagecss.css" rel="stylesheet">

    <style>
        body {padding-top: 54px;}
        body {background-size: 100%;}s
        @media (min-width: 992px) {body {padding-top: 56px;}}
    </style>

</head>

<body background="file:///C:/wamp64/www/Page GSB/img/back.jpg" background-size="100%">

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <img style="width: 9%;" src="file:///C:/wamp64/www/Page GSB/img/gsb-logo.png"><a class="navbar-brand" href="#"></a></img>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Liens 1
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liens 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liens 3</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- FIN Navbar -->

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5" style="color: #153F69; font-size: 60px; padding-top: 25px;">Galaxy Swiss Bourdin</h1>

            <div class="row">
                <div class="col-5 col-md-3 col-sm-3">

<!-- -->


<!-- FIN -->

                </div>
            </div>
        </div>
    </div>
</div>


<script src="file:///C:/wamp64/www/Page GSB/js/jquery.min.js"></script>
<script src="file:///C:/wamp64/www/Page GSB/js/popper.min.js"></script>
<script src="file:///C:/wamp64/www/Page GSB/js/bootstrap.min.js"></script>

</body>

<!-- Footer -->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                    <p>©GSB 2017</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="design">
                    <a href="#" style="color: #68A4D1;">Liens 1 - </a>
                    <a href="#">Liens 2</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FIN Footer -->

</html>