{% extends '@Front/Default/base.html.twig' %}

{% block title %} Accueil - Utilisateur {% endblock title %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5" style="color: #153F69; font-size: 60px; padding-top: 25px;">Galaxy Swiss Bourdin</h1>
                <h5 class="mt-5 applifrais" style="color: #153F69; font-size: 40px;">Applifrais</h5>

                <div class="container-box">
                    <div class="box first usbox">
                        <a href="{{ path('addfrais') }}">
                        <span class="icon-cont"></span>

                        <h3>
                            Rentrer des Frais
                        </h3>

                        </a>
                    </div>

                    <div class="box second usbox">
                        <a href="{{ path('listefrais') }}">
                        <span class="icon-cont"></span>

                        <h3>
                            Consulter mes Fiches
                        </h3>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

