{% extends '@Front/Default/base.html.twig' %}

{% block body %}

<table class="table">
    <thead>
    <tr>
        <th>
            Utilisteur
        </th>
        <th>
            Date
        </th>
        <th>
            montant des frais
        </th>
    </thead>
    <tbody>

    <tr>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>



    </tbody>

</table>

{% endblock body %}