{% extends '@Front/Default/base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5" style="color: #153F69; font-size: 60px; padding-top: 25px;">Galaxy Swiss Bourdin</h1>








                <div class="container-box col-md-6 homeadmin">
                    <div class="box first adbox">
                        <a href="{{ path('gererfichesfrais') }}">
                        <span class="icon-cont"></span>

                        <h3>
                            Gestion des Fiches de Frais

                        </h3>
                        </a>
                    </div>

                    <div class="box second adbox">
                        <a href="{{ path('addutilisateur') }}">
                        <span class="icon-cont"></span>

                        <h3>
                            Ajouter un Utilisateur

                        </h3>
                        </a>
                    </div>

                    <div class="box third adbox">
                        <a href="{{ path('listeutilisateur') }}">
                        <span class="icon-cont"></span>

                        <h3>
                            Liste des utilisateurs

                        </h3>
                        </a>
                    </div>

                    <div class="box fourth adbox">
                        <a href="{{ path('addfraistype') }}">
                        <span class="icon-cont"></span>

                        <h3>
                            Ajoute/gestion Frais Forfait Type

                        </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock body %}