.h1-index {
    color: #153F69;
    font-size: 60px;
    padding-top: 50px;
}

.body {
    background: url(".../img/back.jpg");
}

.footer {
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #111;
    position: fixed;
    padding-top: 1%;
}

.form-control{
    margin-left: 15%;
}

.footer a {
    color: #68A4D1;
    font-size: 13px;
}

.footer p {
    color: #68A4D1;
    font-size: 13px;
}

.design {
    text-align: right;
}

.logo {
    width: 100%;
}

.id-padding {
    padding-top: 10%;
}

.account {
    text-align: center;
    width: 40%;
    opacity: 0.8;
}

.password {
    padding-top: 5%;
}

.button {
    margin-top: 5%;
}



.margetop{
    margin-top:  5%;
}

.nompage{
    padding-top: 50px;
    padding-bottom: 50px;
}


body * {
    transition: all 0.5s;
}


.container-box {
    width: auto;
    margin: 50px auto;
    padding: 5px;
    padding-left: 20px;
    padding-right: 0;
}

.box {
    width: 24%;
    height: 250px;
    margin: 0.2%;
    padding: 15px;
    box-sizing: border-box;
    display: inline-block;
    background: #036C90;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.box .icon-cont {
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 20px auto;
    display: block;
    text-align: center;

    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 5;

    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5),
    0 0 0 0px rgba(3, 108, 129, 0.5);
}
.box .icon-cont i {
    color: #fff;
    opacity: 0.6;
    font-size: 2.5em;
    line-height: 75px;
}
.box:hover .icon-cont {
    animation: shady 4s linear infinite;
}

@keyframes shady {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5),
        0 0 0 0px rgba(3, 108, 129, 0.5);
    }
    20% {
        box-shadow: 0 0 0 100px rgba(255, 255, 255, 0),
        0 0 0 0px rgba(3, 108, 129, 0);
    }
    20.1% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5),
        0 0 0 0px rgba(3, 108, 129, 0.5);
    }
    50% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5),
        0 0 0 0px rgba(3, 108, 129, 0.5);
    }
    70% {
        box-shadow: 0 0 0 100px rgba(255, 255, 255, 0),
        0 0 0 0px rgba(3, 108, 129, 0);
    }
    70.1% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5),
        0 0 0 0px rgba(3, 108, 129, 0.5);
    }
    100% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5),
        0 0 0 0px rgba(3, 108, 129, 0.5);
    }
}

.box h3 {
    color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    top: 125px;
    padding-top: 55%;
}

.a:hover {
    text-decoration: none;
}

.box ul {
    font-family: "Open Sans", Arial, sans-serif;
    color: #fff;
    font-size: 13px;
    line-height: 28px;
    text-indent: 14px;
    margin: 25px;
    margin-top: 380px;
    list-style-type: disc;
}
.box ul.hidden {
    opacity: 0;
}
.box a.expand {
    width: 35px;
    height: 35px;
    background: #fff;
    font-weight: 600;
    color: #036c81;
    display: block;
    margin: 15px auto 25px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}
.box a.expand span.minus {
    opacity: 0;
}
.box a.expand span.plus {
    opacity: 1;
    padding-left: 5px;
}
.box.selected a.expand {
    display: block;
    position: absolute;
    left: 180px;
    right: -29px;
    bottom: -39px;
    width: 80px;
    height: 50px;
    background: #eee;
    color: #036c81;
    transform: rotate(-45deg);
}
.box.selected a.expand span {
    display: block;
    position: absolute;
    top: -4px;
    left: 38px;
    transform: rotate(45deg);
    font-size: 24px;
}
.box.selected a.expand span.minus {
    opacity: 1;
}
.box.selected a.expand span.plus {
    opacity: 0;
}
.box.selected .icon-cont {
    transform: scale(1.5, 1.5);
    opacity: 0.3;
    position: absolute;
    top: -20px;
    left: -5px;
    right: 180px;
}
.box.selected:hover .icon-cont {
    animation: none;
}
.box.selected h3 {
    padding: 32px 15px 15px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    width: 70%;
    top: 16px;
    left: 10%;
}
.box.selected ul.hidden {
    opacity: 1;
    margin-top: 95px;
}

.form-control {
    width: 70%;
    margin-top: -38px;
    margin-left: 200px;
}

.loginname{
    color: #66A3D3;
}


.applifrais{
    text-decoration: none;
}

.addutilisateur h4{
    text-align: center;
}

.form-group{
    margin-bottom: 2rem;
}
.control-label{
    text-align: center;
}
.centered{
    margin-top: 50px;
}

.formcontainer{
    padding-bottom: 50px;
}

.userth{
    text-align: center;
}

.usertd{
    text-align: center;
}

.userbt{
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar-brand {
    width: 100px;
}

.bntco{
    margin-top: 50px;
    padding: 8%;
}

.box{
    width: 37%;
    height: 125%;
}

.box h3{
    padding-top: 25px;
    margin-top: 8px;
    text-decoration: none;
}


.box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.a{
    text-decoration: none;
}

.adbox{
    width: 275px;
    height: 125px;
    padding-bottom: 25px;
    margin-top: 20px;
}

.usbox{
    width: 250px;
    height: 125px;
    padding-top: 20px;
}

.table{
    font-size: 14px;
}

.table th, .table td {
    padding: 0.15rem;
}

.navbar-brand {
    width: 100px;
}

.tabaddfrais{
    padding-bottom: 40px;
    padding-top: 100px;
}

.tabaddfraisadmin{
    padding-bottom: 40px;
    padding-top: 0px;
}

.form-group2 {
    display: inline-block;
}

.form-group2 label{
    margin-top: 1.5%;
}

.form-group2 input{
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
}

.form-group3 label{
    margin-top: 1.5%;
}

.form-group3 input{
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    margin-left: 10px;
}

.table thead th {
    text-align: center;
}

.homeuser{
    padding-left: 0px;
}

.homeadmin{
    padding-left: 0px;
}

.logincontainer{
    margin-top: -100px;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

.manie {
    margin-right: 0px;
}

.gererfichefrais {
    padding-left: 0px;
}

.logbox {
    width: 80%;
    height: 120%;
}


#nav-fiches {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-link {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    border: solid #555 1px;
    background-color: rgba(255,255,255,0);
}

.paginate_button {
    color: #fff !important;
    background-color: #6c757d;
    border-color: #6c757d;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #0000;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
}

.dataTables_wrapper .dataTables_filter output{
    margin-left: 0.5em;
    border: 2px solid #ccc;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}